name: (Manual) Deploy Docs

on: workflow_dispatch

jobs:
  docs:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Build & deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip

      - name: Setup pip-cache
        id: pip-cache
        run: echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache deps
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install deps
        run: |
          python3 -m pip install . -r requirements.txt
          python3 -m pip install . -r requirements-dev.txt
          python3 -m pip install . -r optional-dependencies.txt

      - name: Build docs
        run: |
          cd docs
          make clean
          make html
          touch _build/html/.nojekyll
          echo 'nltools.org' > _build/html/CNAME

      - name: Deploy docs
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: docs/_build/html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
